.MyLoader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px dashed teal;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(3600deg);
    }
    to {
        transform: rotate(0deg);
    }
}